input{height: 30px;
width: 200px;
border:2px solid black;
border-radius: 4px;
margin: 0 0 3px 0;}


.box{
	height: auto;
	width: 60%;
	margin: 0 auto;
	border: 5px solid black;
	border-radius: 20px;
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


@media only screen and (min-width: 600px){

input{height: 30px;
width: 300px;
border:2px solid black;
border-radius: 4px;
margin: 0 0 3px 0;}


.box{
	height: 500px;
	width: 400px;
	border: 5px solid black;
	border-radius: 20px;
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}



}